# Clerk Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_

# Clerk Redirects
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard

# API URLs
BASE_API_URL_REMOTE="https://chanor-server.onrender.com/api/v1/supervisors/"
BASE_API_URL_LOCAL="http://localhost:5000/api/v1/supervisors/"

# API Key
SUPERVISOR_API_KEY=rk_test...

#Environment
APP_ENV=local