PORT=3100

#Environment
APP_ENV=local

# API
# API_ENV=local
API_ENV=remote
# BASE_API_URL_LOCAL=http://localhost:5000/api/v1
BASE_API_URL_REMOTE=https://chanor-server.onrender.com/api/v1

# API Key
SUPERVISOR_API_KEY=key

# Clerk Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=key
CLERK_SECRET_KEY=key
CLERK_DASHBOARD_ORGANIZATION_ID=org_your_dashboard_organization_id

# Clerk Redirects
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
